= form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error") 
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |msg|
          %li
            = msg
  .field
    = f.label :Title
    %br
    = f.text_field :title, :placeholder => "How to Build..."
  .field
    = f.label :body
    %br
    = f.text_area :body, :placeholder => "This is how you build..."
  .action
    = f.submit